.cupon-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
  gap: 10px;
  justify-content: space-around;

  & > .card-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-110);
    border: solid 1px var(--color-gray-100);
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 20px;
    overflow: hidden; /* Ensure the pseudo-element stays hidden initially */
    transition: background-color 0.3s, border 0.3s; /* Add transition for background-color and border */

    &:hover {
      background-color: var(--color-gray-100);
      border: solid 1px var(--color-gray-90);
    }

    &.active {
      background-color: #fc043445;
      border: solid 1px var(--color-negative);
    }

    & > .cupon-amount {
      text-align: center;
    }
  }
}
